div{
    background-color: rgb(48, 48, 68);
    color: aliceblue;
    height: 80px;
}

p {
    text-align: center;
    background-color : blue;
    padding-top: 25px;
}

.container {
	display: flex;
}