<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" th:href="@{/style.css}"/>
    <link th:href="@{/css/style.css}" href="/css/style.css" type="text/css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Page de connexion</title>
</head>
<body>
<form th:action="@{/login/formateur-login}" th:object="${formateur}" method="post">

    <label>mail</label>
    <input type="text" th:field="*{mail}"/>
    <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"/><br>

    <label>Mot de passe</label>
    <input type="password" th:field="*{mdp}"/>
    <span th:if="${#fields.hasErrors('mdp')}" th:errors="*{mdp}"/><br>


    <input type="submit" value="Se connecter"/>
</form>
</body>
</html>