<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Sessions</title>
</head>
<body>
<h1>Liste des Sessions</h1>

<table>
    <thead>
        <tr>
            <th>Nom de la formation</th>
            <th>ID Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Type de formation</th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${sessions.empty}">
            <td colspan="2">Aucune session inscrite</td>
        </tr>
        <tr th:each="sessionStagiaire : ${sessions}">
        <td><span th:text="${sessionStagiaire.nomFormation}">Nom formation</span></td>
            <td><span th:text="${sessionStagiaire.idSession}">ID Session</span></td>
            <td><span th:text="${sessionStagiaire.dateDebut}">Date de début</span></td>
            <td><span th:text="${sessionStagiaire.dateFin}">Date de fin</span></td>
            <td><span th:text="${sessionStagiaire.typeFormation}">Type de formation</span></td>
        </tr>
    </tbody>
</table>

</body>
</html>